# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual envs
venv/
env/
.env
.python-version

# Models / weights
models/
*.h5
*.pt
*.pth
weights.txt

# Runtime data, images, face database
faces/
foto_p/
foto_p_result/
logs/
ui_frames/
images/
sound/
*.mp4
*.avi
*.jpg
*.jpeg
*.png
*.bmp
*.webp
known_faces.pkl
*.pkl
log.txt

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
.logs/

#sh
*.sh
